
<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <title >Notice Board|General</title>
              <link rel='stylesheet' href='/css/materialize.css'>
              <link rel='stylesheet' href='/css/style.css'>  
    </head>
    
    <body>
      <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Andela</a>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">Menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a class="nav-link " href="/">Home </a></li>
              <li><a class="nav-link" href="/users/home">Post Announcement</a></li>
              <li><a class="nav-link" href="/users/general">General</a></li>                  
              <li><a class="nav-link" href="/users/fellow">Fellow</a></li>
              <li><a class="nav-link" href="/users/staff">Staff</a></li>
              <li><a class="nav-link" href="/users/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a  href="/">Home </a></li>
              <li><a  href="/users/home">Post Announcement</a> </li>
              <li><a  href="/users/general">General</a></li>
              <li> <a  href="/users/fellow">Fellow</a></li>
              <li><a  href="/users/staff">Staff</a></li>
              <li><a  href="/users/logout">Logout</a></li>
            </ul>


          </div>
      </nav> 

       
      
      <div class="container">
       <div class="row page-title">
      
          <div class ="col l12  heading">
              <h1> Staff Notice Board </h1>
              <p/>
              <h2> Welcome <%=user.username%></h2>
            </div>
      </div>

      <div class="row card-panel">
        <div class="col l12">
          <ul class="announcements">
            <% for(var i=0; i<announcements.length; i++) {%>
              <% if(announcements[i].dropdown === 'staff' &&(announcements[i].startdate >= dateNow())  ){%>
              <div class="announcements-group col l6">
                
                  <div class="card-panel">
                    <li class="message "> <span><h6><%= announcements[i].name %></h6></span></li>

                    <li class="message"><b><span><%= announcements[i].title %></b></span><br>       
                      Message: <h5><span><%= announcements[i].message %></h5></span>
                    </li>
                    <li class="message"><i>Due Date: </i><span><%= announcements[i].startdate %></span> </li>
                    <li><span></span></li>
                  
                </div>              
              </div>
              <% } %>
            <% } %>
          </ul>
        </div>
      </div>

     </div>
    
</div>


 <script type='text/javascript' src="/js/jquery.js"></script>
  <script type='text/javascript' src="/js/materialize.js"></script> 
  <script>$(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".dropdown-button").dropdown({
            hover: false
        });
    });</script>

</body>
</html>
</html>